<nav class="max-w-[640px] mx-auto w-full h-fit sticky bottom-0 bg-gray-900 flex justify-center items-center mt-auto py-4 border-t border-gray-700">
    <div class="w-fit h-fit flex justify-center items-center gap-16">
        <a href="/" class="text-gray-400 text-xl font-bold p-4 hover:text-white transition-all duration-300">
        <i class="bi bi-house"></i>
        </a>
        <a href="/create-post" class="w-16 h-16 text-white text-xl font-bold bg-purple-700 rounded-full flex items-center justify-center shrink-0 hover:bg-purple-800 transition-all duration-300">
        <i class="bi bi-plus-lg"></i>
        </a>
        <a href="/social-rooms" class="text-gray-400 text-xl font-bold p-4 hover:text-white transition-all duration-300">
        <i class="bi bi-columns"></i>
        </a>
    </div>
</nav>